In [1]:
import numpy as np
import pandas as pd

In [3]:
pop2017=pd.Series([100,99,52,64,52,35,85,96,75,25],index=['Python','c','c#','c++','Javascript','java','PHP','go','shft','R'])
pop2017

Python        100
c              99
c#             52
c++            64
Javascript     52
java           35
PHP            85
go             96
shft           75
R              25
dtype: int64

In [5]:
pop2014=pd.Series({'python':97,'c':10})
pop2014

c         10
python    97
dtype: int64

In [6]:
pop2017.index

Index([u'Python', u'c', u'c#', u'c++', u'Javascript', u'java', u'PHP', u'go',
       u'shft', u'R'],
      dtype='object')

In [7]:
pop2017[2]

52

In [8]:
pop2017['c':'PHP']

c             99
c#            52
c++           64
Javascript    52
java          35
PHP           85
dtype: int64

In [9]:
pop2017[2:6]

c#            52
c++           64
Javascript    52
java          35
dtype: int64

In [17]:
pop2017.iloc[2]

52

In [15]:
pop2017.loc[:'go']

Python        100
c              99
c#             52
c++            64
Javascript     52
java           35
PHP            85
go             96
dtype: int64

In [18]:
pop2017[pop2017>90]

Python    100
c          99
go         96
dtype: int64

In [ ]:
#Arithemetic operators

In [29]:
srs1=pd.Series([1,2,5,6,9])
srs2=pd.Series([1,2,8,7,5],index=[0,1,2,3,5])

In [21]:
srs1,srs2

(0    1
 1    2
 2    5
 3    6
 4    9
 dtype: int64, 0    1
 1    2
 2    8
 3    7
 5    5
 dtype: int64)

In [22]:
srs1**srs2

0         1.0
1         4.0
2    390625.0
3    279936.0
4         NaN
5         NaN
dtype: float64

In [23]:
np.sqrt(srs1)

0    1.000000
1    1.414214
2    2.236068
3    2.449490
4    3.000000
dtype: float64

In [24]:
np.abs(srs1)

0    1
1    2
2    5
3    6
4    9
dtype: int64

In [25]:
srs1+srs2

0     2.0
1     4.0
2    13.0
3    13.0
4     NaN
5     NaN
dtype: float64

In [30]:
srs1>srs2

ValueError: Can only compare identically-labeled Series objects

In [ ]:
#some usefull functions

In [31]:
srs1

0    1
1    2
2    5
3    6
4    9
dtype: int64

In [32]:
srs1.mean()

4.6

In [33]:
srs1.mode()

0    1
1    2
2    5
3    6
4    9
dtype: int64

In [34]:
srs1.median()

5.0

In [35]:
srs1.max()

9

In [39]:
srs1.abs()

0    1
1    2
2    5
3    6
4    9
dtype: int64

In [40]:
srs1.cumsum()

0     1
1     3
2     8
3    14
4    23
dtype: int64

In [41]:
srs1.apply(lambda x: x if x>2 else 2)

0    2
1    2
2    5
3    6
4    9
dtype: int64