In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from ipywidgets import interact
import ipywidgets as widgets

In [3]:
def f(x=1,y=2):
    return y*x
interact(f,x=(-5,5),y=(0,10));

aW50ZXJhY3RpdmUoY2hpbGRyZW49KEludFNsaWRlcih2YWx1ZT0xLCBkZXNjcmlwdGlvbj11J3gnLCBtYXg9NSwgbWluPS01KSwgSW50U2xpZGVyKHZhbHVlPTIsIGRlc2NyaXB0aW9uPXUneSfigKY=

In [4]:
interact(f,x=['vicky','hassan'],y=(0,10));

aW50ZXJhY3RpdmUoY2hpbGRyZW49KERyb3Bkb3duKGRlc2NyaXB0aW9uPXUneCcsIG9wdGlvbnM9KCd2aWNreScsICdoYXNzYW4nKSwgdmFsdWU9J3ZpY2t5JyksIEludFNsaWRlcih2YWx1ZT3igKY=

In [5]:
df=pd.read_csv('athletes.csv')
df.head()

,id,nationality,sex,date_of_birth,height,weight,sport,gold,silver,bronze
0,736041664,ESP,male,1969-10-17,1.72,64.0,athletics,0,0,0
1,532037425,KOR,female,1986-09-23,1.68,56.0,fencing,0,0,0
2,435962603,CAN,male,1992-05-27,1.98,79.0,athletics,0,0,1
3,521041435,MDA,male,1991-01-02,1.83,80.0,taekwondo,0,0,0
4,33922579,NZL,male,1990-11-26,1.81,71.0,cycling,0,0,0

In [6]:
def make_plot(sport1,gender1,sport2,gender2):
    fig,ax=plt.subplots(
    a=df[(df['sex']==gender1)&(df['sport']==sport1)]
    b=df[(df['sex']==gender2)&(df['sport']==sport2)]
    a.plot.scatter(ax=ax,x='weight', y='height',alpha=.25,color='b',label=sport1 + "," + gender1)
    b.plot.scatter(ax=ax,x='weight', y='height',alpha=.25,color='b',label=sport1 + "," + gender1)
all_sports=df['sport'].drop_duplicates().sort_values()
interact(make_plot, sport1=all_sports,
        gender1=['male','female'],
        sport2=all_sports,
        gender=['male','female']);

SyntaxError: invalid syntax (<ipython-input-6-a26882771876>, line 4)

In [7]:
medals=df.groupby(['sport','nationality'])[['gold','silver','bronze']].sum()
medals.sort_values(['gold'],ascending=False,inplace=True)
medals

                          gold  silver  bronze
sport        nationality
aquatics     USA            61      18      10
athletics    USA            27      10       9
basketball   USA            24       0       0
football     GER            18      18       0
hockey       ARG            18       0       0
football     BRA            18       0       0
hockey       GBR            16       0       0
handball     RUS            15       0       0
rowing       GBR            15      11       0
volleyball   BRA            14       2       0
handball     DEN            14       0       0
cycling      GBR            14       4       2
aquatics     SRB            13       0       0
rugby sevens FIJ            13       0       0
             AUS            12       0       0
volleyball   CHN            12       0       0
athletics    JAM            11      17       2
aquatics     CHN            11      15       5
             RUS            11       2      15
fencing      RUS             9       1       5
canoe        GER             9       6       1
rowing       USA             9       1       0
gymnastics   USA             8       6       2
archery      KOR             8       0       1
rowing       GER             8       9       0
table tennis CHN             8       2       0
equestrian   FRA             8       1       0
aquatics     AUS             7      14      13
gymnastics   RUS             7      13       3
canoe        HUN             7       0       0
...                        ...     ...     ...
             CUB             0       0       0
             COK             0       0       0
             CHN             0       0       0
             POL             0       1       2
             RSA             0       0       0
cycling      CRC             0       0       0
             ALG             0       0       0
             CHI             0       0       0
             CAN             0       0       6
             BUL             0       0       0
             BRA             0       0       0
             BOL             0       0       0
             BLR             0       0       0
             AZE             0       0       0
             AUT             0       0       0
             AUS             0       5       1
             ARG             0       0       0
canoe        UZB             0       0       0
             RUS             0       0       1
             USA             0       0       0
             TUR             0       0       0
             TUN             0       0       0
             SWE             0       0       0
             SUI             0       0       0
             STP             0       0       0
             SRB             0       2       0
             SLO             0       1       0
             SEN             0       0       0
             SAM             0       0       0
wrestling    VIE             0       0       0

[1776 rows x 3 columns]

In [5]:
def make_plot(n=10,sport='aquatics'):
    fig,ax=plt.subplots(figsize=(n,6))
    top=medals.loc[sport].head(n)
    top.plot.bar(color=['gold','silver','brown'],ax=ax,stacked=true,rot=45,title="Top{} countries {}".format(n,sport))
    ax.set_ylabel('medals')


interact(make_plot,
        n=widgets.Intslider(min=5,max=100),
        sport=all_sports);

AttributeError: 'module' object has no attribute 'Intslider'